# Maven
/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
/.gradle/
/build/
!gradle-wrapper.jar

# IntelliJ
/.idea/
/*.iml
*.iws

# Eclipse
/.settings/
/*.classpath
/*.project

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Application-specific
.env
